<!DOCTYPE html>
<html lang="en">
<head>
    <style>
h1 {text-align: center;}
h2 {text-align: center;font-size: 22px}
body {text-align: center; background-image: url("https://static.vecteezy.com/system/resources/previews/023/158/011/non_2x/cat-seamless-pattern-kitten-cat-paw-isolated-doodle-background-wallpaper-vector.jpg")}
</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gabby Fan Page</title>
</head>
<body>
    <h1 style="color:darkmagenta;text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;"> Andrew's Online Gabby Shrine :-)</h1>
    <img src="https://photos.smugmug.com/photos/i-hsPMmPM/0/Ld5jNPKS9dxqGDGc89Pwbct5bDS5mJ6xwGb869SSD/M/i-hsPMmPM-M.png" alt="Image from external source">
    <img src="https://photos.smugmug.com/photos/i-b28nNMB/0/LBJs6pQRPkrSqjmZTMFWs6X4kwD29Cm96z7h2CNxD/M/i-b28nNMB-M.png" alt="Image from external source">
    <br>
    <iframe width="420" height="345" src="https://www.youtube.com/embed/Uug7z_448WQ?si=O3E-nh96Dh8rWW0O&loop=1">
</iframe>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/rwQIYwN9ctc?si=0JDFrm5BhkFAXuOk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<br>
<h2 style="color:darkorange;text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;">Buttons for Gabby To Fidget With</h2>

<form>
  <input type="radio" id="html" name="fav_language" value="HTML" style="height:40px; width:40px; vertical-align: middle;" CHECKED>
  <input type="radio" id="css" name="fav_language" value="CSS" style="height:20px; width:20px; vertical-align: middle;" CHECKED>
  <input type="radio" id="javascript" name="fav_language" value="JavaScript" style="height:35px; width:25px; vertical-align: middle;">
    <input type="radio" id="javscript" name="fav_language" value="JavaScript"style="height:40px; width:30px; vertical-align: middle;" CHECKED>
    <input type="radio" id="javascipt" name="fav_language" value="JavaScript"style="height:30px; width:20px; vertical-align: middle;" CHECKED>
    <input type="radio" id="jaascript" name="fav_language" value="JavaScript"style="height:50px; width:50px; vertical-align: middle;" CHECKED>
    <input type="radio" id="jvascript" name="fav_language" value="JavaScript" style="height:20px; width:20px; vertical-align: middle;" CHECKED>
    <input type="radio" id="jvascrit" name="fav_language" value="JavaScript" style="height:45px; width:45px; vertical-align: middle;" CHECKED>
    <input type="radio" id="jvaript" name="fav_language" value="JavaScript" style="height:32px; width:32px; vertical-align: middle;" CHECKED>
    <input type="radio" id="jvascpt" name="fav_language" value="JavaScript" style="height:55px; width:55px; vertical-align: middle;" CHECKED>
    <input type="radio" id="jvript" name="fav_language" value="JavaScript" style="height:39px; width:39px; vertical-align: middle;" CHECKED>
    <input type="radio" id="jascript" name="fav_language" value="JavaScript" style="height:27px; width:27px; vertical-align: middle;" CHECKED>
</form>
<br>

<h2 style="color:darkmagenta;text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;">{{ firstday }} days since Andrew and Gabriella met</h2>
<h2 style="color:darkmagenta;text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;">That is 8 months!</h2>


<h2 style="color:darkorange;text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;">{{ dateday }} days since Andrew and Gabriella were BF and GF</h2>
<h2 style="color:darkorange;text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;"> That is 4 months!</h2>
<br>
</body>
<h2 style="color:darkmagenta;text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;">Corny Ass Poem for Mi Amor &#128156;</h2>


<img src = "https://photos.smugmug.com/photos/i-xjbprBw/0/KkcLQmcQwCCtZWtRH3Bvr7WVfmzTGzBMCMLNj8w8N/L/i-xjbprBw-L.png" alt="alternatetext">
<img src="https://photos.smugmug.com/photos/i-n5qv6w8/0/MFFGzZHQWcR4t9GxMbNz2DKS4SQfGzhwXCSBK3SzT/M/i-n5qv6w8-M.png" alt="alternatetext">

<br>
<br>

<img src="https://photos.smugmug.com/photos/i-VrQ8pvB/0/KqkzKKBdCn3sPd2XVHk4QmvzsgNRLrKC5gnVmcT8F/S/i-VrQ8pvB-S.jpg" alt="alternatetext">

<br>

<h1 style="color:darkorange;text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;">Happy 4 Months Beautiful Dipple</h1>

<br>

<img src="https://photos.smugmug.com/photos/i-xzW9x9G/0/K7tK8hScWhv2cWJJ3Hn72NsVpcBTKJwz5wFRGR2W5/L/i-xzW9x9G-L.gif" alt="alternatetext">

</html>
