<!DOCTYPE html>
<html lang="en">
<audio id="clickSound" src="https://assets.mixkit.co/sfx/preview/mixkit-arcade-game-jump-coin-216.mp3" preload="auto"></audio>
<head>
    <style>
h1 {text-align: center;}
h2 {text-align: center;font-size: 22px}
body {text-align: center; background-image: url("https://img.freepik.com/premium-vector/cute-birthday-cat-watercolor-seamless-pattern_306501-96.jpg")}

</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gabby Fan Page</title>
    <style>
        .confetti {
            position: fixed;
            width: 10px;
            height: 10px;
            background-color: #f00;
            top: -10px;
        }
            .heart-container {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    .heart-emoji {
        font-size: 150px;
        animation: heartbeat 1.5s infinite;
        line-height: 1;
    }
    @keyframes heartbeat {
        0% { transform: scale(1); }
        25% { transform: scale(1.1); }
        50% { transform: scale(1); }
        75% { transform: scale(1.1); }
        100% { transform: scale(1); }
    }

    </style>
</head>

<body>
{% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    <h1 style="color:darkmagenta;text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;"> Happy Birthday Gabby!!! :-)</h1>

    <div class="heart-container">
    <div class="heart-emoji">🩷</div>
    <div class="heart-emoji">🐱</div>
    <div class="heart-emoji">🩷</div>
</div>

    <h1 style="color:darkmagenta;text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;"> The Big {{ age }}! </h1>

    <p>
        <a href='/reasons' target='_blank'><img src='https://i.postimg.cc/PqMxy5Cc/A8180-AB0-4-EB0-4388-963-A-20-CF8-A56-FB8-C.png' width="400" height="400" border='0' alt='A8180-AB0-4-EB0-4388-963-A-20-CF8-A56-FB8-C'/></a>
        <a href='/coupons' target='_blank'><img src='https://i.postimg.cc/T20V1TQt/406-C246-D-3107-45-ED-A9-F4-C8-C738-BBA7-A8.png' width="400" height="400" border='0' alt='406-C246-D-3107-45-ED-A9-F4-C8-C738-BBA7-A8'/></a>
    <br>
<h1 style="color:darkmagenta;text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;"> Girl you must be {{days_since}} days old, because you get {{ days_since}} times more pretty everytime I see you </h1>


<iframe width="420" height="345" src="https://www.youtube.com/embed/Uug7z_448WQ?si=O3E-nh96Dh8rWW0O&loop=1">
</iframe>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/rwQIYwN9ctc?si=0JDFrm5BhkFAXuOk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<br>
<h2 style="color:darkorange;text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;">Buttons for Gabby To Fidget With</h2>

<form>
  <input type="radio" id="html" name="fav_language" value="HTML" onclick="playSound()" style="height:40px; width:40px; vertical-align: middle;">
  <input type="radio" id="css" name="fav_language" value="CSS" onclick="playSound()" style="height:20px; width:20px; vertical-align: middle;" CHECKED>
  <input type="radio" id="javascript" name="fav_language" onclick="playSound()" value="JavaScript" style="height:35px; width:25px; vertical-align: middle;">
    <input type="radio" id="javscript" name="fav_language" onclick="playSound()" value="JavaScript"style="height:40px; width:30px; vertical-align: middle;" CHECKED>
    <input type="radio" id="javascipt" name="fav_language" onclick="playSound()" value="JavaScript"style="height:30px; width:20px; vertical-align: middle;" CHECKED>
    <input type="radio" id="jaascript" name="fav_language" onclick="playSound()" value="JavaScript"style="height:50px; width:50px; vertical-align: middle;" CHECKED>
    <input type="radio" id="jvascript" name="fav_language" onclick="playSound()" value="JavaScript" style="height:20px; width:20px; vertical-align: middle;" CHECKED>
    <input type="radio" id="jvascrit" name="fav_language" onclick="playSound()" value="JavaScript" style="height:45px; width:45px; vertical-align: middle;" CHECKED>
    <input type="radio" id="jvaript" name="fav_language" onclick="playSound()" value="JavaScript" style="height:32px; width:32px; vertical-align: middle;" CHECKED>
    <input type="radio" id="jvascpt" name="fav_language" onclick="playSound()" value="JavaScript" style="height:55px; width:55px; vertical-align: middle;" CHECKED>
    <input type="radio" id="jvript" name="fav_language" onclick="playSound()" value="JavaScript" style="height:39px; width:39px; vertical-align: middle;" CHECKED>
    <input type="radio" id="jascript" name="fav_language" onclick="playSound()" value="JavaScript" style="height:27px; width:27px; vertical-align: middle;" CHECKED>
    <input type="radio" onclick="playRandomSound()" ...>
</form>

<iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/5GXaLbokQeQXOD4V8E4aRN?utm_source=generator&theme=0" width="40%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

<br>

<h2 style="color:darkmagenta;text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;">{{ firstday }} days since Andrew and Gabriella met</h2>
<h2 style="color:darkmagenta;text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;">That is {{ months1 }} months and {{ daysmonths1 }} days!</h2>


<h2 style="color:darkorange;text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;">{{ dateday }} days since Andrew and Gabriella were BF and GF</h2>
<h2 style="color:darkorange;text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;"> That is {{ months2 }} months and {{ daysmonths2 }} days!</h2>
<br>
</body>
<h2 style="color:darkmagenta;text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;">Corny Ass Poem for Mi Amor &#128156;</h2>


<img src = "https://photos.smugmug.com/photos/i-xjbprBw/0/KkcLQmcQwCCtZWtRH3Bvr7WVfmzTGzBMCMLNj8w8N/L/i-xjbprBw-L.png" alt="alternatetext">
<img src="https://photos.smugmug.com/photos/i-n5qv6w8/0/MFFGzZHQWcR4t9GxMbNz2DKS4SQfGzhwXCSBK3SzT/M/i-n5qv6w8-M.png" alt="alternatetext">

<br>
<br>

<img src="https://photos.smugmug.com/photos/i-VrQ8pvB/0/KqkzKKBdCn3sPd2XVHk4QmvzsgNRLrKC5gnVmcT8F/S/i-VrQ8pvB-S.jpg" alt="alternatetext">

<br>

<h1 style="color:darkorange;text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;">Happy Birthday Beautiful Dipple</h1>

<br>

<img src="https://photos.smugmug.com/photos/i-xzW9x9G/0/K7tK8hScWhv2cWJJ3Hn72NsVpcBTKJwz5wFRGR2W5/L/i-xzW9x9G-L.gif" alt="alternatetext">

    <script>
        let confettiInterval;
        const colors = ['#f00', '#0f0', '#00f', '#ff0', '#f0f', '#0ff'];

        function createConfetti() {
            const confetti = document.createElement('div');
            confetti.className = 'confetti';
            confetti.style.left = Math.random() * window.innerWidth + 'px';
            confetti.style.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
            confetti.style.transform = 'rotate(' + Math.random() * 360 + 'deg)';
            document.body.appendChild(confetti);

            let pos = -10;
            let speed = 1 + Math.random() * 3;
            let spin = Math.random() * 10 - 5;
            let angle = 0;

            const fall = setInterval(() => {
                pos += speed;
                angle += spin;
                confetti.style.top = pos + 'px';
                confetti.style.transform = 'rotate(' + angle + 'deg)';

                if (pos > window.innerHeight) {
                    clearInterval(fall);
                    confetti.remove();
                }
            }, 20);
        }

        function startConfetti() {
            stopConfetti(); // Clear any existing interval
            confettiInterval = setInterval(createConfetti, 50);
        }

        function stopConfetti() {
            clearInterval(confettiInterval);
        }

        // Optional: Auto-start

        {window.onload = startConfetti;}


    </script>

</html>