<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 {text-align: center;}
        h2 {text-align: center;font-size: 22px}
        body {text-align: center; background-image: url("https://static.vecteezy.com/system/resources/previews/023/158/011/non_2x/cat-seamless-pattern-kitten-cat-paw-isolated-doodle-background-wallpaper-vector.jpg")}
        .pokeball-link {
            display: inline-block;
            margin: 20px;
            transition: transform 0.3s;
        }
        .pokeball-link:hover {
            transform: scale(1.1) rotate(10deg);
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gabby Fan Page</title>
    <style>
        .confetti {
            position: fixed;
            width: 10px;
            height: 10px;
            background-color: #f00;
            top: -10px;
        }
    </style>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <h1 style="color:darkmagenta;text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;"> Andrew's Online Gabby Shrine :-)</h1>
    <p>
        <a href='/date' ><img src='https://i.postimg.cc/ZYcmFrzw/4-DC87-E74-BBC7-4003-91-AE-B8-BC5069-C9-AA.png' border='0' style="width: 30%; height: 30%"/></a>
    <a href='/flirt'><img src='https://i.postimg.cc/Z56Vpx1R/BAD487-CB-A00-D-4-B89-B36-D-A9899-C447781.png' border='0' style="width: 30%; height: 30%"/></a>

    <!-- Add this Pokéball link to your game -->
    <div class="pokeball-link">
        <a href="/pokemon-game">
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Pok%C3%A9_Ball_icon.svg"
                 alt="Play Pokémon Game"
                 style="width: 120px; height: 120px;">
            <p style="color:darkred;text-shadow:
                -1px -1px 0 white,
                1px -1px 0 white,
                -1px 1px 0 white,
                1px 1px 0 white;"></p>
        </a>
    </div>

<div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 10px; max-width: 1200px; margin: 0 auto;">
    <div style="aspect-ratio: 16/9;">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Uug7z_448WQ?si=O3E-nh96Dh8rWW0O&loop=1" frameborder="0" allowfullscreen></iframe>
    </div>
    <div style="aspect-ratio: 16/9;">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/rwQIYwN9ctc?si=0JDFrm5BhkFAXuOk" frameborder="0" allowfullscreen></iframe>
    </div>
    <div style="aspect-ratio: 16/9;">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Hdt4yWCtG0g?si=4LKu3UtVY0DCaD4n" frameborder="0" allowfullscreen></iframe>
    </div>
    <div style="aspect-ratio: 16/9;">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/WZHBClhY04o?si=_z-oRxu6z05klZnO" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>

<h2 style="color:darkorange;text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;">Buttons for Gabby To Fidget With</h2>

<form>
  <input type="radio" id="html" name="fav_language" value="HTML" onclick="playSound()" style="height:40px; width:40px; vertical-align: middle;">
  <input type="radio" id="css" name="fav_language" value="CSS" onclick="playSound()" style="height:20px; width:20px; vertical-align: middle;" CHECKED>
  <input type="radio" id="javascript" name="fav_language" onclick="playSound()" value="JavaScript" style="height:35px; width:25px; vertical-align: middle;">
    <input type="radio" id="javscript" name="fav_language" onclick="playSound()" value="JavaScript"style="height:40px; width:30px; vertical-align: middle;" CHECKED>
    <input type="radio" id="javascipt" name="fav_language" onclick="playSound()" value="JavaScript"style="height:30px; width:20px; vertical-align: middle;" CHECKED>
    <input type="radio" id="jaascript" name="fav_language" onclick="playSound()" value="JavaScript"style="height:50px; width:50px; vertical-align: middle;" CHECKED>
    <input type="radio" id="jvascript" name="fav_language" onclick="playSound()" value="JavaScript" style="height:20px; width:20px; vertical-align: middle;" CHECKED>
    <input type="radio" id="jvascrit" name="fav_language" onclick="playSound()" value="JavaScript" style="height:45px; width:45px; vertical-align: middle;" CHECKED>
    <input type="radio" id="jvaript" name="fav_language" onclick="playSound()" value="JavaScript" style="height:32px; width:32px; vertical-align: middle;" CHECKED>
    <input type="radio" id="jvascpt" name="fav_language" onclick="playSound()" value="JavaScript" style="height:55px; width:55px; vertical-align: middle;" CHECKED>
    <input type="radio" id="jvript" name="fav_language" onclick="playSound()" value="JavaScript" style="height:39px; width:39px; vertical-align: middle;" CHECKED>
    <input type="radio" id="jascript" name="fav_language" onclick="playSound()" value="JavaScript" style="height:27px; width:27px; vertical-align: middle;" CHECKED>
</form>

<audio> controls src='Pop_sound_effect.mp3'</audio>

<br>

<h2 style="color:darkmagenta;text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;">{{ firstday }} days since Andrew and Gabriella met</h2>
<h2 style="color:darkmagenta;text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;">That is {{ months1 }} months and {{ daysmonths1 }} days!</h2>


<h2 style="color:darkorange;text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;">{{ dateday }} days since Andrew and Gabriella were BF and GF</h2>
<h2 style="color:darkorange;text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;"> That is {{ months2 }} months and {{ daysmonths2 }} days!</h2>
<br>
</body>
<h2 style="color:darkmagenta;text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;">Corny Ass Poem for Mi Amor &#128156;</h2>


<img src='https://i.postimg.cc/pTrfGf1K/Untitled-document.png' border='0' />
<img src='https://i.postimg.cc/k5xzMmnT/401-F05-DC-3-FB5-4-F6-A-87-B9-E3493-C1533-A3.png' border='0' style="width: 30%; height: 30%">

<br>
<br>



<h1 style="color:darkorange;text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;">Happy {{ months2 }} Months Beautiful Dipple</h1>

<br>

<a href="/birthday"><img src='https://i.postimg.cc/TP40XNbt/IMG-3783.gif' border='0'/></a>


</html>
