<!DOCTYPE html>
<html lang="en">
<head>
    <style>
h1 {text-align: center;}
h2 {text-align: center;font-size: 22px}
body {text-align: center; background-image: url("https://static.vecteezy.com/system/resources/previews/023/158/011/non_2x/cat-seamless-pattern-kitten-cat-paw-isolated-doodle-background-wallpaper-vector.jpg")}
</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gabby Fan Page</title>
</head>
<body>
    <h1 style="color:darkmagenta;text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;"> Andrew Auto Flirt</h1>
    <a href='/flirt'><img src='https://i.postimg.cc/Z56Vpx1R/BAD487-CB-A00-D-4-B89-B36-D-A9899-C447781.png' border='0' style="width: 30%; height: 30%"/></a>
    <br>
    <h2 style="color:darkorange;text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;">{{ line }}</h2>
</body>