<!DOCTYPE html>
<html lang="en">
<head>
    <style>
h1 {text-align: center;}
h2 {text-align: center;font-size: 22px}
body {text-align: center; background-image: url("https://static.vecteezy.com/system/resources/previews/023/158/011/non_2x/cat-seamless-pattern-kitten-cat-paw-isolated-doodle-background-wallpaper-vector.jpg")}
</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gabby Fan Page</title>
</head>
<body>
    <h1 style="color:darkmagenta;text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;"> Andrew Auto Flirt</h1>
    <img src="https://photos.smugmug.com/photos/i-b28nNMB/0/LBJs6pQRPkrSqjmZTMFWs6X4kwD29Cm96z7h2CNxD/M/i-b28nNMB-M.png" alt="Image from external source">
    <br>
    <h2 style="color:darkorange;text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;">{{ line }}</h2>
</body>