<!DOCTYPE html>
<html lang="en">
<head>
    <style>
h1 {text-align: center;}
h2 {text-align: center;font-size: 22px}
body {text-align: center; background-image: url("https://static.vecteezy.com/system/resources/previews/023/158/011/non_2x/cat-seamless-pattern-kitten-cat-paw-isolated-doodle-background-wallpaper-vector.jpg")}
</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gabby Fan Page</title>
</head>
<body>
<span style="color: purple;text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;"><h1> Plans made for <br>
{{ choice }}, confirmed! </h1>
    <br>
<a href="/home"><img src="https://photos.smugmug.com/photos/i-n8T7f9C/0/KSMPD8kgkZrSRVs8mdWbt46bF63w4SHjSMH5vKDfG/M/i-n8T7f9C-M.png" alt=""></a>
<h6>/\/\/\ Click to go back home /\/\/\</h6>
{% if other %}
    <h2>I did not make reservations for {{ other }}, but he will try!</h2>
{% endif %}
    <h5>Disclaimer: Andrew could not figure out how to save your input data so please screenshot and send to him :-]</h5></span>
</body>
</html>